.App {
  min-height: 100vh;
  padding: 3%;
  text-align: center;
  background-image: url('./images/warszawa.jpg');
  background-size: cover;
  font-family: 'Noto Sans KR', sans-serif;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: black;
}

.App-header-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: black;

}

.container {
  background-color: white;
  border-radius: 10px;
  opacity: 0.9;
  margin-top: 20px;
  padding-top: 20px;
}

/* Container for current results */

.current {
  padding: 5%;
  opacity: 0.9;
}

.current img {
  width: 45%;
}

.current p {
  font-size: 2rem;
}

.current h1 {
  font-size: 4rem;
}

/* Scrollable container for 12 hours results */

.scrollable {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 10px;
  opacity: 0.9;
}

.scrollable::-webkit-scrollbar {
    width: 12px;
}

.scrollable::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.cards {
  background-color: #FEFEF8;
  display: inline-block;
  margin: 2%;
  padding: 2%;
  width: 230px;
  border: 1px solid black;
  border-radius: 10px;
}
